<head>
  <link href="../public/css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <%- include('./partials/nav.ejs') %>

  <div class="titles">
    <h1>GROCERY DATABASE</h1>

    <hr />
    <p>
      Welcome to the grocery database. Use the navigation bar above to browse,
      edit, or add items to the databse.
    </p>
  </div>
</body>
